@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    var winPopup = null;
    var dataArr = [
        { ID: "1", javascript: "80", python: "60", jsp: "50" },
        { ID: "2", javascript: "57", python: "80", jsp: "50" },
        { ID: "3", javascript: "90", python: "40", jsp: "85" },
        { ID: "4", javascript: "67", python: "84", jsp: "76" },
        { ID: "5", javascript: "35", python: "83", jsp: "85" },
        { ID: "6", javascript: "90", python: "67", jsp: "56" },
        { ID: "7", javascript: "80", python: "60", jsp: "50" },
        { ID: "8", javascript: "45", python: "67", jsp: "100" },
        { ID: "9", javascript: "90", python: "40", jsp: "68" },
        { ID: "10", javascript: "67", python: "57", jsp: "76" },
        { ID: "11", javascript: "36", python: "83", jsp: "35" },
        { ID: "12", javascript: "76", python: "35", jsp: "98" }];
    $(document).ready(function () {
        Initialize();
        LoadGridDataCommonCodeGroup();
    });

    function Initialize() {

        $("#gridCommonCodeGroup").jqGrid({
            colNames: ['ID', '자바스크립트', '파이썬', 'JSP'],
            colModel: [{ name: "ID", index: "ID", width: 15, align: 'center', hidden: false },
                {
                    name: 'javascript', index: 'javascript', width: 70, align: 'center', hidden: false,
                    formatter: function (cellValue, options, rowdata, action) {
                        if (rowdata.ID == "1") {
                            return "a";
                        } else {
                            return rowdata.javascript;
                        }
                    }
                },
            { name: 'python', index: 'python', width: 70, align: 'center', hidden: false },
            { name: 'jsp', index: 'jsp', width: 70, resizable: true, align: 'center', hidden: false }],
            cellattr: function () { return " class='table'" },
            height: 350,
            data: dataArr,
            autowidth: true,
            rowNum: 9999999,
            datatype: 'local',
            gridview: true,
            rownumbers: true,
            onSelectRow: function (ids) {
                selGroupIdx = $("#gridCommonCodeGroup").jqGrid('getRowData', ids).CommonCodeGroupIdx;
                //LoadGridDataCommonCode(selGroupIdx);                
            },
            loadComplete: function () {
                //count row
                $("#txtCodeGroupCount").text($("#gridCommonCodeGroup").getGridParam("records"));
                var ids = $("#gridCommonCodeGroup").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    $("#gridCommonCodeGroup").jqGrid('setRowData', ids[i], { Idx: i + 1 });
                }
            }
        });
    }
    function LoadGridDataCommonCodeGroup() {
        // show loading message
        $("#gridCommonCodeGroup")[0].grid.beginReq();
        // Get CodeGroupList
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetListTestTB", "testTB")',
            success: function (data) {
                var gridData = JSON.parse(data.List);
                $("#gridCommonCode").clearGridData();
                $("#gridCommonCode").trigger('reloadGrid');
                DrawCodeGroupGrid(gridData);
            }
        });
    }

    function openPopupAdd() {
        window.open('/Home/testAdd', '사용자추가', 'width=550, height=310, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no');
    }

    function DrawCodeGroupGrid(gridData) {
        //Clear Grid
        $("#gridCommonCode").clearGridData();
        // set the new data
        $("#gridCommonCode").jqGrid('setGridParam', { data: gridData });
        // hide the show message
        $("#gridCommonCode")[0].grid.endReq();
        // refresh the grid
        $("#gridCommonCode").trigger('reloadGrid');
    }
</script>

<div class="content">
    <h2>사용자등록</h2>
    <div class="search_box">
        <label>
            <p><span class="star">*</span>코드명/코드 </p><input type="text" id="CodeAdd_txtSearch" />
        </label>
        <button class="btn type2" onclick="GetCodeGropListBySearch();">조회</button>
    </div>
    <!-- 코드현황 -->
    <div style="width:100%;">
        <h3>코드현황</h3>
        <div class="btn_wrap">
            <p>총 <span id="txtCodeGroupCount">0</span>건</p>
            <button type="button" onclick="openPopupAdd()" class="btn type2">코드추가</button>
        </div>
        <table class="table type1" id="gridCommonCodeGroup"> </table>
    </div>
</div>